venv/*
venv_linux/*
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.idea/
.vscode/
data/original/*
data/processed/*
models/*
src/review_validator_session.json
src/review_chunk_labeler_session.json
notebooks/draft/results/*
notebooks/draft/*.json
notebooks/bert/bert_tokenizer_pt/*
notebooks/bert/*.pth
notebooks/bert/training_history.png
.env
